<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mindapps.mind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mind"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.mindapps.mind.GlobalTopicQuizContentPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.GlobalQuizContentPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.GlobalForum"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.mindapps.mind.Instructions_Popup"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.TopicQuizContentPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.BooleanQuizPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.IdentificationQuizPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.QuizResultPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.MultiChoiceQuizPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.EditTextOptionPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.CreditsPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.QuizContentPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.RegisterPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.Capture_ShowImage_Page"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.AnalyticsPage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.UserProfilePage"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.SettingsPage"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".HomePage" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="com.mindapps.mind.library_sheet"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.home_screen"
            android:exported="false" />
        <activity
            android:name="com.mindapps.mind.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>